<div class="widget_stick">
    <div class="stick"> <strong>学习互通</strong>
        <h4>发送邮件:&nbsp; <a href="mailto:2027821710@qq.com" target="_blank"> 2027821710@qq.com</a></h4>
        <h4>给我留言:&nbsp; <a href="/posts/b5f422e3/" target="_blank">我要留言</a></h4>
        <p>发送内容：除不良信息外，内容不限</p>
    </div>
</div>
<style>
.widget_stick{margin-bottom:10px;}.widget_stick .stick{display:block;padding:0 15px 15px;border:1px solid #eaeaea;background-color:#fff;font-size:12px;border-radius:4px;}.widget_stick .stick h2{font-size:20px;font-weight:normal;margin-top:14px;color:#e67e22;}.widget_stick .stick p{color:#999;margin-bottom:0;}.widget_stick .stick strong{margin:-1px 0 0 0;display:inline-block;padding:4px 15px;color:#fff;font-size:14px;font-weight:normal;background-color:#e67e22;}.widget_stick .stick:hover{border-color:#e67e22;}
</style>
